@model RPG.Models.CharacterModal.Character

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:100%">Initiativ</th>
        </tr>
    </thead>
    <tr>
        <th>@Model.GetInitiativString()</th>
    </tr>
</table>