@model RPG.Models.CharacterModal.Character
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:100%">Speed</th>
        </tr>
    </thead>
    <tr>
        <th>@Model.GetSpeed()</th>
    </tr>
</table>

